<!--Bismillâhirrahmânirrahîm-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Not, Plan, Hatırlatma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">    
    <link rel="stylesheet" href="css/notal.css">
</head>
<body>
  <div id="plan">
    <div class="container-fluid bg-success">
      <div style="height:350px">
        <div class="row">
          <div class="col"></div>
          <div class="col display-1 text-center text-white mt-5"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>
     {{baslik}}</div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    <div class="container yukari">
      <div class="jumbotron sari">
  
        <span><p class="lead">Her türlü notlarınızı alabileceğiniz ve kendinize hatırlatma yapabileceğiniz uygulama. Notunuzu eklemek için bilginizi girdikten sonra <b>Enter</b> tuşuna veya <b>butona</b> basarak kayıt işlemini tamamlayabilirsiniz. </p></span>
          <div class="row">
            <div class="col">
                <div class="input-group">
                  <input v-on:keyup.enter="notekle" v-model="minput" type="text" class="form-control" placeholder="Notlar, Planlar, Hatırlatmalar" aria-label="Input group example" aria-describedby="btnGroupAddon">
                  <span class="input-group-addon btn-success btn-lg" v-on:click="notekle">Notunuzu Ekleyin</span>
               </div>
                <small class="text-muted ml-1">Girilen değer: {{minput}}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">ID</th>
                      <th>Açıklama</th>
                      <th class="text-center">Sil</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(not, index) in liste" v-bind:key="not.id">
                      <th class="lead text-center">{{not.id}}</th>
                      <th class="lead">{{not.aciklama}}</th>
                      <th class="lead text-center"><button class="btn btn-danger" v-on:click="degersil(index)">X</button></th>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="js/notal.js"></script>
    
</body>
</html>